.vscode/**
src/**
test/**
config/**
scripts/**
public/**
tsconfig.json
tsconfig.extension.json
webpack.config.js
yarn.lock
ext-src/**
*.ts
*.sol
.gitignore
keystore/
node_modules/@babel
node_modules/@emotion
node_modules/acorn
node_modules/ajv
node_modules/babel-plugin-emotion
node_modules/babel-preset-react-app
node_modules/babel-runtime
node_modules/caniuse-lite
node_modules/core-js-pure
node_modules/core-js
node_modules/css-select
node_modules/css-tree*
node_modules/csstype
node_modules/eslint
node_modules/eslint-plugin-import
node_modules/eslint-plugin-jsx-a11y
node_modules/eslint-plugin-react
node_modules/expect
node_modules/express
node_modules/handlebars
node_modules/jest-config
node_modules/jest-environment-jsdom
node_modules/jsdom
node_modules/lodash-es5
node_modules/lodash._reinterpolate
node_modules/lodash.memoize
node_modules/lodash.sortby
node_modules/lodash.tail
node_modules/lodash.template
node_modules/lodash.templatesettings
node_modules/lodash.unescape
node_modules/lodash.uniq
node_modules/lodash
node_modules/mocha
node_modules/node-forge
node_modules/node-notifier
node_modules/react-select
node_modules/regenerate-unicode-properties
node_modules/regexpp
node_modules/rxjs
node_modules/sockjs-client
node_modules/terser
node_modules/webpack-dev-server
node_modules/webpack
node_modules/typescript
node_modules/@types
node_modules/react-dom
node_modules/react-dev-utils
node_modules/@svgr
node_modules/@jest