.form-container {
  padding-right: 20px;
}

.constructorInput {
  width: 100%;
}

.json_input_container {
  max-height: 25vh;
  min-height: 5vh;
  width: 100%;
}

.transaction_receipt {
  min-height: 5vh;
  max-height: 25vh;
}

.large-code {
  height: 100%;
}

.json_input {
  height: 100%;
  width: 100%;
}

.gas_supply {
  margin: 20px 0;
}

.input-flex {
  display: flex;
  justify-content: space-between;
}

.form_align {
  margin: 20px 0px;
  margin-left: -10px;
}

.call-result {

}