.form-container {
  padding-right: 20px;
}

.constructorInput {
  width: 100%;
}

.json_input_container, .json_input {
  max-height: 25vh;
  min-height: 15vh;
  width: 80vw;
}

.transaction_receipt {
  min-height: 5vh;
  max-height: 25vh;
}

.large-code {
  height: 100%;
}

.gas_supply {
  margin: 20px 0;
}

.input-flex {
  display: flex;
  justify-content: space-between;
}

.form_align {
  margin: 20px 0px;
  margin-left: -10px;
}

.button_disable {
  background: #081b13 !important;
  border: 1px solid #081b13 !important;
  color: white !important;
  cursor: default !important;
}