.custom_button_css {
  border: 1px solid #38ffAf;
  background: #38ffAf;
  color: black;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button_disable {
  background: #081b13 !important;
  border: 1px solid #081b13 !important;
  color: white !important;
  cursor: default !important;
}