/* .custom_input_css {
  padding: 6px 12px;
}

.custom_input_css.vscode-dark {
  border: 1px solid #38ffAf;
  background: red;
  color: white;
}

.custom_input_css.vscode-high-contrast {
  border: 1px solid #38ffAf;
  background: white;
  color: black;
}

.custom_input_css.vscode-light {
  border: 1px solid black;
  background: white;
  color: black;
}

.custom_button_css {
  border: 1px solid #38ffAf;
  background: #38ffAf;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
} */

.button_disable {
  background: #081b13 !important;
  border: 1px solid #081b13 !important;
  color: white !important;
  cursor: default !important;
}