.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 75px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.compiledOutput {
  height: 100%;
  width: 95vw;
  overflow-x: scroll;
  font-size: 15px;
  padding: 7px;
  border: 1px solid rgba(218, 218, 218, 0.555);
  margin-top: 20px;
}

.contract-container {
  text-align: left;
}

.processMessage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  font-size: 18px;
  color: #fff;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
}

.error-message {
  background-color: #000000;
  /* position: absolute;
  top: 50%; */
  width: 95vw;
  font-size: 18px;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
  overflow-x: scroll;
  margin-top: 20px;
  border: 1px solid rgba(218, 218, 218, 0.555);
}

.red-text {
  color: rgb(226, 49, 49);
}
.yellow-text {
  color: rgb(236, 218, 53);
}

.hot-keys {
  display: inline;
}