.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #38ffAf;
}

.vscode-dark .compiledOutput {
  border: 1px solid #38ffAf;
}

.vscode-light .compiledOutput {
  border: 1px solid #000000;
}

.vscode-high-contrast .compiledOutput {
  border: 1px solid #38ffAf;
}

.compiledOutput {
  height: 100%;
  width: 90%;
  overflow-x: scroll;
  font-size: 15px;
  padding: 10px 20px;
  margin: 25px auto;
}

.contract-container {
  text-align: left;
}

.processMessage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  font-size: 18px;
  color: #fff;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
}

.vscode-light .error-message {
  border: 1px solid #000000;
}

.error-message {
  background-color: #000000;
  width: 95vw;
  font-size: 18px;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
  overflow-x: scroll;
  margin-top: 20px;
  border: 1px solid #38ffAf;
}

.red-text {
  color: rgb(226, 49, 49);
}
.yellow-text {
  color: rgb(236, 218, 53);
}

.hot-keys {
  display: inline;
}

.err_warning_container {
  margin-top: 25px;
  max-height: 25vh;
  overflow-y: scroll;
}

.instructions {
  border: 1px solid #38ffAf;
  margin: 10px 30%;
  text-align: center;
  border-radius: 2px;
}

.react-tabs {
  text-align: left;
  overflow-y: hidden;
}

.react-tabs__tab--selected  {
  background: #38ffAf !important;
  border-color: #38ffAf !important;
  color: black !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #38ffAf !important;
}

.react-tabs__tab:focus {
  background: #38ffAf;
  border-color: #38ffAf;
  color: black;
}

.react-tabs__tab:focus:after {
  background: #38ffAf;
  border-color: #38ffAf;
  color: black;
}

.react-tab-panel {
  text-align: center !important;
}

/* .react-tabs {
  border: 1px solid red;
} */

.react-tabs .tab-container {
  border-bottom: 1px solid #38ffAf;
}

.tab-padding {
  padding: 5px 10px;
}

.select-width {
  width: 350px;
  height: 20px;
  font-size: 17px;
  margin: 20px auto;
}