#test-error ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.test-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-result-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  margin-left: 15px;
}
.test-result {
  display: block;
  margin: 10px;
  font-size: 14px;
}

.status-renamed {
  color: rgb(131, 32, 224);
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  width: 14px;
}

.status-added {
  color: rgb(49, 224, 87);
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  width: 14px;
}

.status-removed {
  color: rgb(233, 31, 31);
  padding: 5px;
  margin-left: 5px;
  width: 14px;
}

.padded {
  padding: 5px;
  color: rgb(245, 225, 115);
}

.text-error {
  color: rgb(228, 43, 43);
  margin: 0 5px;
}

.text-success {
  color: rgb(49, 224, 87);
  margin: 0 5px;
}

.text-info {
  color: rgb(40, 181, 224);
  margin: 0 5px;
}

.test-header {
  text-align: center;
}

#remix-tests {
  display: block;
  margin: 20px auto;
  padding: 10px;
}
