body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_input_css {
  padding: 6px 12px;
  border: 1px solid #38ffAf;
}

.custom_input_css.vscode-dark {
  border: 1px solid #38ffAf;
  background: red;
  color: white;
}

.custom_input_css.vscode-high-contrast {
  border: 1px solid #38ffAf;
  background: white;
  color: black;
}

.custom_input_css.vscode-light {
  border: 1px solid black;
  background: white;
  color: black;
}

.custom_button_css {
  border: 1px solid #38ffAf;
  background: #38ffAf;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}